asn1crypto==0.24.0
cachetools==3.1.0
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
Click==7.0
cryptography==2.5
cymem==2.0.2
Cython==0.29.5
cytoolz==0.9.0.1
dask==1.1.1
decorator==4.3.2
dill==0.2.9
en-core-web-sm==2.0.0
Flask==1.0.2
gcs-client==0.2.2
gcsfs==0.2.0
glove==1.0.1
google-auth==1.6.2
google-auth-oauthlib==0.2.0
httplib2==0.12.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
nltk==3.4
numpy==1.16.1
oauth2client==1.5.2
oauthlib==3.0.1
pandas==0.24.1
plac==0.9.6
preshed==2.0.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycparser==2.19
pymongo==3.7.2
pyOpenSSL==19.0.0
python-dateutil==2.8.0
pytz==2018.9
regex==2018.1.10
requests==2.21.0
requests-oauthlib==1.2.0
rsa==4.0
scipy==1.2.1
singledispatch==3.4.0.3
six==1.12.0
spacy==2.0.18
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
