* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/*body*/ 
body{
  font-family: 'Comfortaa', cursive;
}



/* Mobile devices customization */
/*header*/
/*upper navigation */
.upnav{
  text-align: left;
  text-decoration: none;
  border-bottom: 1px solid #eee;
  word-spacing: 1px;
  padding:0% 4% 2% 4%;
  font-size:13px;
  color:black;
}

.ourlogo{
  text-align: center;
  font-size: 17px;
  color:#ff8c00;
  letter-spacing: 5px;
  margin-bottom: 1%;
}

.cfflogo
{
  text-align: center;
  align-content: center;
  position:relative;
  right:9px;
}

.cfflogo_img
{
  width:80px;
  height:70px;
}

input[type=text] 
{
  width: 100%;
  border: 1px solid #eee;
  border-radius: 25px;
  font-size: 13px;
  background-color: #eee;
  padding: 4px 20px 4px 40px;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}


input[type=text]:hover
{
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
}

a
{
  text-decoration: none;
}

/*bottom navigation bar*/
.downnav{
  height: 8%;
  text-decoration: none;
  text-align: left;
  border-top: 1px solid #eee;
  word-spacing: 1px;
  padding:0px 0px 15px 0px;
  font-size:1em;
  color:black;
}


.downnav a{
  margin-left: 30px;
}


.downnav a:hover{
  color:red;
}

#result_blog_container{
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 5%;
  font-family: 'arial';
}

.result_blog{
  display:none;
  box-shadow: 0 4px 8px 0 rgba(109, 107, 107, 0.1), 0 6px 20px 0 rgba(109, 107, 107, 0.1);
  border-radius: 10px;
  margin-top: 2%;
  padding: 1% 0 3% 0;
}

#result_blog_title{
  font-size: 1.2em;
  color: rgb(24, 69, 175);
}

#result_blog_url{
  font-size: 0.9em;
  color: rgb(81, 161, 97);
}

#separateLine
{
  width: 100%;
  height: 1px;
  background-color: rgb(180, 176, 176);
  margin: 2% 0 2% 0;
}

#result_concordance{
  font-size: 13px; 
  color: rgb(49, 48, 48);
}

/*Pagination CSS*/
.paginationContainer
{
  text-align: center;
  display: none;
}


/* Load more button for mobile view */
.loadMoreContainer
{
  margin-left: 2%;
  margin-right: 3%;
  margin-bottom: 5%;
  text-align: center;
  padding: 5%;
}

#loadMore
{
  padding: 10px;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #2e6da4;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}

/* --------------------------------------------------------- */
/* Desktop customization */
/* --------------------------------------------------------- */
@media only screen and (min-width: 700px)
{
  .upnav
  {
    margin: 0 1% 0 2%;
    padding: 1% 0 1% 0;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 150px 75%;
  }

  .cfflogo_img
  {
    width: 90px;
    height: 80px;
  }

  .upnav_up
  {
    padding: 0% 0 0 0%;
  }

  .ourlogo{
    text-align: center;
    font-size: 20px;
    color:#ff8c00;
    letter-spacing: 3px;
    margin-bottom: 1%;
  }

  .search_bar
  {
    width: 100%;
  }

  #result_blog_container{
    margin-left: 150px;
    margin-right: 10%;
    margin-bottom: 1%;
  }

  .result_blog{
    box-shadow: none;
    border-radius: 0;
    margin-top: 1%;
    padding: 1% 0 2% 0;
  }

  #result_concordance{
    font-size: 15px; 
    padding-right: 25%;
  }

  #separateLine
  {
    display: none;
  }

  .loadMoreContainer
  {
    display: none;
  }

  .paginationContainer
  {
    display: block;
  }

  .downnav
  {
    font-size: 1.3em;
  }
}
